<div class="page-header order-page">
  <div class="row">
    <div class="medium-12 columns">
      <h1>New Order Page</h1>
      <% if @client %>
      <h4><%=  @client.business_name %></h4>
      <% end %>
    </div>
  </div>  
</div>

<div class="row">
  <div class="medium-6 columns">

    <%= form_for @order do |f| %>

      <%= f.label :order_number %>
      <%= f.text_field :order_number, autofocus: true, placeholder: "Order number" %>

      <%= f.label :client_id %>
      <%= f.collection_select(:client_id, @clients, :id, :client_business_name, include_blank: 'Please select:') %>

      <%= f.label :expected_date %>
      <%= f.date_select :expected_date %>

      <%= f.submit "Submit", class: "button one-hundred margin-top" %>

    <% end %>
  </div>
</div>