<div class="page-header dress-page">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Add a Dress to the Database</h1>
    </div>
  </div>  
</div>

<div class="row">
<div class="medium-6 columns">
<h2>Form for dresses new:</h2>

<%= form_for @dress do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, placeholder: "Dress Name" %>

  <%= f.label :description %>
  <%= f.text_field :description, autofocus: true, placeholder: "Description" %>

  <%= f.label :image %><br />
  <%= f.file_field :image %>

  <%= f.label :rrp %>
  <%= f.number_field :rrp, autofocus: true, placeholder: "eg 225"%>

  <%= f.submit "Submit", class: "button" %>
<% end %>
</div>
</div>